[filament_switch_sensor switch_sensor]
switch_pin: ^EBBCan: PB5
pause_on_runout: False
runout_gcode:
  PAUSE               # [pause_resume] is required in printer.cfg
  M117 Filament switch runout
  G0 E-20 F600
insert_gcode:
  M117 Filament switch inserted

#[filament_motion_sensor encoder_sensor]
#switch_pin: ^PC15
#detection_length: 2.88 # accuracy of motion sensor 2.88mm
#extruder: extruder
#pause_on_runout: False
#runout_gcode:
#  PAUSE                # [pause_resume]         is required in printer.cfg
#  M117 Filament encoder runout
#insert_gcode:
# M117 Filament encoder inserted

  
#[filament_motion_sensor SFS_T0]
#detection_length: 10.00 ; This can be adjusted to your desired level of sensitivity. 10 is a recomended value to prevent flow dropoff false triggers.
#extruder: extruder
#switch_pin: !PC0
#pause_on_runout: True ; This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below. 
#event_delay: 3.0
#pause_delay: 0.5
#runout_gcode:
    #M117 Runout Detected!

[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
  SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENEBLET=1 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor 
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0 ; Put your filament sensor's name after SENSOR=

#################Encoder#################

#[delayed_gcode DISABLEENCODERSENSOR] ; This will disable the SFS 1 second after klipper starts
#initial_duration: 1
#gcode:
#  SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0 ; Put your filament sensor's name after SENSOR=

#[gcode_macro SFS_encode_ENABLE] ; Add this to PRINT_START
#description: Enable smart filament sensor
#gcode:
#    M117 ENABLING the Smart Filament Sensor
#    G92 E0
 #   SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENEBLET=1 ; Put your filament sensor's name after SENSOR=

#[gcode_macro SFS_encod_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
#description: Disable smart filament sensor 
#gcode:
#   M117 DISABLING the Smart Filament Sensor
#  G92 E0
#    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0 ; Put your filament sensor's name after SENSOR=